@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap");

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #ec1839;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    /* height: 6000px; */
    overflow-x: hidden;
}

section {
    border-bottom: 2px solid var(--bg-black-50);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: var();
    background: var(--bg-black-100);
    border-bottom: 2px solid var(--bg-black-50);
}

.logo {
    top: 10px;
    font-size: 20px;
    text-transform: capitalize;
}

header .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 14px 30px;
    margin: 5px -30px;
    letter-spacing: 3px;
    position: relative;
}

header .logo a span {
    font-family: "Clicker Script", cursive;
    font-size: 40px;
}

header .logo a:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

header .logo a:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: var(--text-black-700);
    font-weight: 700;
    margin-left: 40px;
}

.navigation a.active {
    color: var(--skin-color);
}

.navigation a .fa {
    padding: 0px 6px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background: var(--skin-color);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    display: flex;
    background-color: var(--bg-black-100);
    border: 2px solid var(--bg-black-50);
    border-top: none;
}

.navigation ul li a {
    display: flex;
    padding: 8px 0px;
    margin-top: 8px;
    font-size: 18px;
    color: var(--text-black-900);
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler {
    height: 30px;
    width: 35px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span {
    background: transparent;
}


.aside .nav-toggler span::before {
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after {
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

/* ============================== Section Slide Animation Start ======================== */

section.active {
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);

    }
}

.scroll-watcher {
    height: 5px;
    position: fixed;
    z-index: 10;
    background-color: var(--skin-color);
    width: 100%;
    scale: 0 1;
    /* transform-origin: left; */

    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */

    border-radius: 50px;

    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

/* ============================== Section Slide Animation End ======================== */

section.home .container {
    /* padding: 60px; */
    padding-bottom: 70px;
    display: flex;
}

/* section .container .home-img {
    max-width: 400px;
    max-height: 400px;
} */

section.home {
    background: var(--bg-black-900);
    /* height: 100vh; */
}

section.home .side-container {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 5rem;
}

.home .side-container::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    /* padding: 10px 10px; */
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    top: 85%;
    left: 130%;
    margin-left: 13px;
}

.home .side-container::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -50px;
    top: -35px;
}



section .container .side-container .home-img img {
    margin: 0;
    /* border-radius: 10px; */
    height: 300px;
    width: 250px;
    z-index: 1;
}

section.home .home-img {
    height: 315px;
    width: 265px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

section.home .img-container {
    padding: 0 0;
}

section.home .home-img::before {
    content: "";
    background-image: conic-gradient(var(--skin-color) 20deg,
            transparent 120deg);
    width: 120%;
    height: 120%;
    position: absolute;
    animation: rotate 2.5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

section.home .home-info {
    margin-left: 2.5rem;
}

section.home .home-info .hello {
    font-size: 30px;
    margin: 16px 0;
    color: var(--text-black-700);
}

section.home .home-info .hello span {
    font-family: "Clicker Script", cursive;
    font-size: 45px;
    font-weight: 700;
    color: var(--skin-color);
}

section.home .home-info .profession {
    font-size: 30px;
    margin: 15px 0;
    color: var(--text-black-700);
}

.typing {
    color: var(--skin-color);
}

section.home .home-info p {
    margin-bottom: 50px;
    font-size: 18px;
    color: var(--text-black-700);
}

section.home .home-info button a {
    color: #ffffff;
    font-size: 18px;
}

section.home .home-info button:hover a {
    color: var(--skin-color);
}

section.home .home-info button {
    width: 200px;
}

.home-btn {
    margin-left: 0;
}

/* ========================== About Section Start ============================= */

section.about {
    padding: 100px 80px;
    /* height: 100vh; */
    background: var(--bg-black-100);

}

section.about .about-content {
    display: flex;
}

section.about .about-img-wrapper {
    margin-inline: auto 2rem;
    position: relative;
    margin-left: 5rem;
}

.about-img-wrapper::before,
.about-img-wrapper::after {
    content: '';
    position: absolute;
    inset: 0;
}

.about-img-wrapper::before {
    background-color: var(--skin-color);
    animation: animate-before 5s ease-in-out infinite;
}

.about-img-wrapper::after {
    background-color: var(--skin-color);
    opacity: 80%;
}

.about-img-wrapper::after,
.about-img {
    animation: animate-after 5s ease-in-out infinite;
}

section.about .about-img-wrapper img {
    height: 600px;
    margin-top: -80px;
    z-index: 2;
    position: relative;
    vertical-align: middle;
}

@keyframes animate-before {
    0% {
        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
    }

    50% {
        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
    }

    100% {
        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
    }
}

@keyframes animate-after {
    0% {
        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
    }

    50% {
        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
    }

    100% {
        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
    }
}


.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 17px;
    line-height: 25px;
    color: var(--text-black-900);
}

.about .about-content .personal-info {
    /* flex: 0 0 0%; */
    max-width: 100%;
    margin-top: 40px;
}

.about .about-content .personal-info .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.about .about-content .personal-info .wrapper .info-item {
    max-width: 90%;
}

.about .about-content .personal-info .wrapper .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .wrapper .info-item p span {
    font-weight: 400;
    color: var(--text-black-900);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content button {
    margin-top: 20px;
}

.about .about-content button a {
    color: #ffffff;
}

.about .about-content button:hover a {
    color: var(--skin-color);
    background: transparent;
}


/* ===================== Qualification Section Start ==================== */

section.qualification {
    background: var(--bg-black-900);
    /* height: 100vh; */
    color: var(--text-black-700);
}

.qualification-container {
    grid-template-columns: repeat(2, 340px);
    column-gap: 4rem;
    justify-content: space-evenly;
}

.qualification-title {
    font-size: 24px;
    font-weight: 600;
    margin: 20px;
    color: var(--text-black-700);
    font-weight: 700;
}

.timeline-item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 3rem;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    left: 0.48rem;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
}

.circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    background-color: var(--skin-color);
    transition: .4s;
}

.timeline-item:hover .circle-dot {
    background-color: var(--bg-black-900);
}

.timeline-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.timeline-text {
    font-size: 16px;
    margin-bottom: 1px;
    width: 100%;
}

.timeline-date {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-size: 14px;
    color: var(--skin-color);
    font-weight: 700;
}

/* ===================== Qualification Section End ==================== */

/* ========================= Skills Section Start ================= */


section.skills {
    background: var(--bg-black-100);
    color: var(--text-black-700);
}

.skills-container {
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;
    padding-top: 40px;
}


.skills-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.skills-icon,
.skills-arrow {
    font-size: 1.3rem;
    color: var(--skin-color);
}

.skills-icon {
    margin-right: 20px;
}

.skills-title {
    font-size: 20px;
    font-weight: 600;
}

.skills-subtitle {
    font-size: 15px;
}

.skills-arrow {
    margin-left: auto;
}

.skills-active .skills-arrow {
    transform: rotate(-90deg);
    transition: .3s;
}

.skills [data-content] {
    display: none;
}

.skills-active[data-content] {
    display: block;
}

.skills-list {
    row-gap: 1.5rem;
}

.skills-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.skills-name {
    font-size: 15px;
    font-weight: 600;
}

.skills-number {
    font-size: 15px;
}

.skills-bar,
.skills-percentage {
    height: 5px;
    border-radius: 5px;
}

.skills-bar {
    background-color: var(--bg-black-50);
    margin-bottom: 25px;
}

.skills-percentage {
    display: block;
    background-color: var(--skin-color);
}

/* ========================= Skills Section End ================= */


/* ==================== Project Section Start ====================== */
section.project {
    background: var(--bg-black-900);
    color: var(--text-black-700);
}

.project-subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--skin-color);
}

.project-container {
    grid-template-columns: repeat(3, 300px);
    gap: 80px;
    justify-content: center;
    padding-top: 5px;
}

.project-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 25px;
}

.project-item {
    cursor: pointer;
    color: var(--text-black-700);
    padding: 0.5rem 3rem;
    font-weight: 700;
    border-radius: 6px;
    font-size: 18px;
}

.project-card {
    background-color: var(--bg-black-100);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--text-black-700);
    box-shadow: 2px 2px;
}

.portfolio-item-details {
    display: none;
}

.project-img {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 180px;
    width: 278px;
}

.project-title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}

.project-button {
    color: var(--skin-color);
    font-size: 15px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.project-button-icon {
    font-size: 10px;
    font-weight: 500;
    transition: 0.3s;
}

.project-button:hover .project-button-icon {
    transform: translateX(5px);
}

.active-project {
    background-color: var(--skin-color);
    color: #ffffff;
}

/* =========== Project Description Pop Up ================ */

.portfolio-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-black-100);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    color: var(--text-black-700);
}

.portfolio-popup.open {
    opacity: 1;
    visibility: visible;
}

.portfolio-popup-inner {
    background-color: var(--bg-black-100);
    width: 1200px;
    border-radius: 8px;
    padding: 20px 20px;
    position: relative;
    align-items: center;
}

.portfolio-popup-content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 10px;
    border: 2px solid var(--skin-color);
    border-bottom: 3px solid var(--text-black-700);
    border-right: 3px solid var(--text-black-700);
    box-shadow: 3px 3px;
    border-radius: 10px;
}

.portfolio-popup-close {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 20px;
    color: var(--skin-color);
    cursor: pointer;
}

.portfolio-popup-img {
    border-radius: 5px;
    height: 300px;
    width: 500px;
    margin: 20px 20px;
    border: 2px solid var(--text-black-900);
    border-right: 2px solid var(--skin-color);
    border-bottom: 2px solid var(--skin-color);
}

.portfolio-popup-subtitle {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.details-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.details-description {
    font-size: 17px;
    margin-bottom: 5px;
}

.details-info li {
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}

.details-info li:last-child {
    margin-bottom: 0;
}

.details-nfo li a {
    text-transform: lowercase;
    color: var(--skin-color);
}

/* ==================== Project Section End ====================== */

/* ===================== Services Section Start ====================== */

section.services {
    background: var(--bg-black-100);
    color: var(--text-black-700);
}

.services-container {
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    column-gap: 2rem;
}

.services-content {
    position: relative;
    background-color: var(--bg-black-900);
    padding: 6rem 0 2rem 2.5rem;
    border-radius: 10px;
    /* text-align: center; */
}

.services-icon {
    /* display: inline; */
    display: block;
    font-size: 30px;
    /* font-size: 1.8rem; */
    color: var(--skin-color);
    margin-bottom: 10px;
}

.services-title {
    font-size: 20px;
}


.services-subtitle {
    font-size: 25px;
    /* font-size: 20px; */
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
}

.services-button {
    color: var(--skin-color);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
    margin-top: 5px;
}

.services-button-icon {
    font-size: 18px;
    transition: transform .3s;
}

.services-button:hover .services-button-icon {
    transform: translateX(0.5rem);
}

.services-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-black-100);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.active-modal {
    opacity: 1;
    visibility: visible;
}

.services-modal-content {
    width: 500px;
    position: relative;
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 20px;
    border-top: 2px solid var(--skin-color);
    border-left: 2px solid var(--skin-color);
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px;
}

.services-modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--skin-color);
    cursor: pointer;
}

.services-modal-title,
.services-modal-description {
    text-align: center;
}

.services-modal-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.services-modal-description {
    font-size: 15px;
    padding: 0.35rem;
    margin-bottom: 10px;
}

.services-modal-services {
    row-gap: 10px;
}

.services-modal-service {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.services-modal-icon {
    color: var(--skin-color);
    font-size: 18px;
}

.services-modal-info {
    font-size: 15px;
}

/* ====================== Services Section End ======================== */

/* ================== Contact Us Section Start ====================== */
.contact {
    background: var(--bg-black-900);
}

.contact-title {
    color: var(--skin-color);
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 17px;
    margin: 10px;
}

.contact .contact-container {
    display: flex;
    margin-top: 30px;
    padding: 10px 10px;
    justify-content: space-between;
    gap: 80px;
}

.contact .contact-info-item {
    flex: 0 0 20%;
    max-width: 60%;
    text-align: center;
    margin-bottom: 40px;
}

.contact-container .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4cqb;
    width: 50%;
    overflow-wrap: break-word;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 20px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 10px 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact-container .contact-form {
    margin-top: 15px;
    width: 50%;
}

.contact .contact-form .form-group {
    margin-bottom: 30px;
    width: 100%;
}

.contact .contact-form .form-group .form-control {
    width: 100%;
    height: 100%;
    background: var(--bg-black-100);
    border-radius: 25px;
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-group .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-group textarea.form-control {
    height: 140px;
}

.contact .contact-form button {
    height: 50px;
    padding: 0 50px;
    width: 230px;
}

/* =========================== Contact Section Ends =========================== */

@media (max-width: 1199px) {
    .main-content {
        overflow: hidden;
        float: right;
        width: 80%;
    }

    .aside {
        width: 20%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        padding: 0 0;
        border-right: 3px solid var(--bg-black-50);
        padding: 5px 5px;
    }

    header .navigation {
        flex-direction: column;
    }

    header .navigation a {
        border-bottom: 2px solid var(--bg-black-50);
        padding: 1rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }

    .navigation i {
        margin-right: 10px;
    }

    .logo {
        position: fixed;
        top: 10%;
        font-size: 40;
        z-index: 2;
    }

    header .logo a span {
        font-size: 60px;
    }

    .connect a {
        font-size: 15px;
        margin-right: 5px;
    }

    .scroll-watcher {
        display: none;
    }

    .navigation button {
        display: none;
    }

    .project-container {
        grid-template-columns: repeat(2, 300px);
    }

    .services-container {
        grid-template-columns: repeat(2, 250px);
        gap: 60px;
    }

    .about-img {
        height: 50px;
    }

    section.home .side-container {
        margin-left: -10px;
    }

    .about-img-wrapper::before,
    .about-img-wrapper::after {
        height: 300px;
    }

    section.about .about-img-wrapper img {
        height: 320px;
        margin-left: -20px;
        bottom: -60px;
        position: relative;
        vertical-align: middle;
    }

    .about-myself {
        width: 50%;
    }

    .personal-info .wrapper {
        grid-column-gap: 100px;
    }

    section.home .home-info .profession,
    section.home .home-info .hello {
        font-size: 23px;
    }

    section.home .home-info .hello span {
        font-size: 45px;
    }

    section.home .home-info p {
        font-size: 17px;
    }

    section .container .side-container .home-img img {
        height: 260px;
        width: 215px;
    }

    section.home .home-img {
        margin-top: 30px;
        height: 280px;
        width: 230px;
        overflow: hidden;
    }

    .qualification-title {
        font-size: 22px;
    }

    .contact-container .contact-info-item .connect {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .section-title h2 {
        font-size: 35px;
    }

    .project-subtitle,
    .services-subtitle {
        font-size: 17px;
    }


}

@media (max-width: 991px) {
    .project-container {
        grid-template-columns: repeat(2, 250px);
    }

    .qualification-container {
        grid-template-columns: repeat(1, 350px);
        row-gap: 3rem;
        align-items: center;
    }

    .skills-active .skills-arrow {
        transform: rotate(180deg);
        transition: .3s;
        background-color: var(--skin-color);
        color: #ffffff;
        border-radius: 50%;
        padding: 3px 3px;
        margin-right: -4px;
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(1, 350px);
    }

    .skills-list {
        margin-top: 20px;
        border: 3px solid var(--skin-color);
        border-radius: 10px;
        padding: 20px 60px;
        row-gap: 0.8rem;
    }

    .main-content {
        width: 75%;
    }

    .aside {
        width: 25%;
    }

    .contact .contact-container {
        margin-left: -50px;
        gap: 50px;
    }

    .portfolio-popup-subtitle {
        font-size: 15px;
        padding-left: 15px;
    }

    .portfolio-popup-inner {
        padding: 15px 15px;
        width: 80%;
    }

    .portfolio-popup-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
        padding: 20px 20px;
    }

    .portfolio-popup-img {
        border-radius: 5px;
        height: 250px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .details-title {
        font-size: 18px;
        font-weight: 600;
        margin: 15px 25px;
    }

    .details-description {
        font-size: 15px;
        margin: 5px 25px;
    }

    .details-info li {
        margin-left: 6px;
        font-size: 13px;
    }

    .project-img {
        height: 150px;
        width: 228px;
    }
}

@media (max-width: 818px) {
    section.home .container {
        padding-top: 30px;
        flex-direction: column;
    }

    section.about .about-content {
        flex-direction: column-reverse;
        width: 100%;

    }

    .about .about-content .personal-info .wrapper {
        grid-template-columns: repeat(1fr, 600px);
        column-gap: 20px;
    }

    .project-container {
        grid-template-columns: repeat(1, 300px);
    }

    .services-container {
        grid-template-columns: repeat(1, 280px);
        gap: 60px;
    }

    .contact-container .wrapper {
        display: none;
    }

    .contact-container .contact-form {
        margin-top: 15px;
        width: 100%;
    }

    .side-container {
        display: none;
    }

    .about-myself {
        width: 100%;
    }

    .about-text {
        margin-top: 80px;
    }

    .about-img-wrapper::before,
    .about-img-wrapper::after {
        height: 300px;
        max-width: 400px;
        display: flex;
        justify-content: center;
        position: absolute;
    }

    section.about .about-img-wrapper img {
        height: 320px;
        position: relative;
        padding-left: 2rem;
    }

    .aside {
        width: 250px;
        left: -300px;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open {
        left: 270px;
    }

    .main-content {
        width: 100%;
    }

    section {
        padding: 40px 35px;
    }

    section.about {
        padding: 40px 35px;
    }

    .about-img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-img-wrapper::before {
        margin-left: auto;
        margin-right: auto;
    }

    .about-img-wrapper::after {
        margin-right: auto;
        margin-left: auto;
    }

    .about .about-content .personal-info .wrapper .info-item {
        display: inline-block;
        word-wrap: break-word;
    }
    
    .about .about-content .personal-info .wrapper .info-item p span {
        display: inline;
        word-wrap: break-word;
    }

    .timeline-text,
    .timeline-title {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .contact .contact-container .contact-form {
        display: flex;
        width: 100%;
        padding: 10px 40px;
        justify-content: center;
    }

    .project-filters,
    .project-item {
        column-gap: 0px;
        font-size: 15px;
    }

    .project-item {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact .contact-container {
        margin-left: 0px;
        gap: 50px;
    }

    .skills-list {
        padding: 1rem 1rem;
        row-gap: 0.8rem;
    }

    .portfolio-popup-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
        padding: 20px 20px;
    }

    .portfolio-popup-img {
        border-radius: 5px;
        height: 200px;
        width: 300px;
        justify-content: center;
        align-items: center;
    }

    .portfolio-popup-subtitle {
        font-size: 15px;
    }

    .details-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .details-description {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .details-info li {
        margin-left: 5px;
        font-size: 14px;
        font-weight: 500;
    }

    .portfolio-popup-inner {
        width: 800px;
        padding: 10px 10px;
    }

    .portfolio-popup-img {
        border-radius: 5px;
        height: 180px;
        width: 320px;
        margin: auto 30px;
    }

    .portfolio-popup-close {
        position: absolute;
        top: 2rem;
        right: 1.5rem;
        font-size: 20px;
        color: var(--skin-color);
        cursor: pointer;
    }

    .project-img {
        width: 278px;
    }
}

@media (max-width: 457px){

    .portfolio-popup-content{
        width: 350px;
        height: 600px;
        padding: 5px;
        row-gap: 0;
        grid-template-rows: 0.8fr 1.2fr;
    }

    .portfolio-popup-img{
        width: 310px;
        margin-left: 8px;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .details-info li{
        margin-left: 5px;
    }

    .portfolio-popup-close {
        top: 1rem;
        right: 1.5rem;
    }
}